body {background-color: #eef2fe;}
h1   {color: #d30609; font-family: "Garamond", serif;}
p    {color: #595b67; font-family: "Garamond", serif; text-align:left; font-size: 18px; }
h2   {color: #53565d; font-family: "Garamond", serif; text-align:center;}
img {
  display: block;
  margin-left: auto;
  margin-right: 50;
  width: 35%;
  border: 5px solid #a93226;

}
  div {
  word-wrap: break-word;
}